.ui-hidden {
    display: none;
}

.dialog-overlay: {
    background: black no-repeat 50% 50%;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    left: 0%;
    opacity: 0,4;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 9990;

}
.modal-dialog {
    display: block;
    left: 50%;
    opacity: 1;
    position: fixed;
    top: 50%;
    z-index: 9991;
}
